
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Todos los campos son obligatorios</h5>
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre Completo</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" id="nombre" class="form-control" ng-model="usuarioModelo.nombre" placeholder="Ingrese el nombre"/required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="email" id="Text1" class="form-control" ng-model="usuarioModelo.email" placeholder="Ingrese el email"required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Usuario</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" id="username" class="form-control" ng-model="usuarioModelo.username" placeholder="Ingrese el usuario" required />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" id="password" class="form-control" ng-model="usuarioModelo.password" placeholder="Ingrese la contraseña" required />
								</div>
							</div>
						</div>
                        <!--
						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
                        </div>
                    -->

						<div class="form-group" ng-click="register()">
                                <button ng-disabled="form.$invalid || dataLoading" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Registrar</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
