@import url('https://fonts.googleapis.com/css?family=Bungee');

.margen20{
    margin-left: 20px;
    margin-right: 20px;
}
.padding10{
    padding:10px;
}
.portada{
    height: 600px;
}
.blancoT{

 opacity: .4;
}
.imagenes{
    width:100%;
    height: 100%;
    background-image: url("../img/Hamburguesa2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
    z-index: 1;
}
.contenedor-pedido{
    position: absolute;
    margin-left: 20px;
    width: 500px;
    height: 600px;  
    left: 0px;
    top: 0px;
    z-index: 2;
}
.formulario{
    height: 100%;
}
.sectores{
    margin: 10px 30px 10px 30px;
    position: absolute;
    height: calc(100% - 20px);
    width: 440px;
    top: 0px;
  
}
.sector1{

    height: 10%;
}
.sector2{

    height: 60%;
}
.sector3{
   
    height: 20%;
}
.sector4{

    height: 10%;
}
select{
    height: 35px;
    margin-left:10px;
    margin-top: 15px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    -moz-appearance: none;
    background-image: url("../img/caret.png");
    background-repeat: no-repeat;
    background-position: right center;
}
button{
    margin-top: 30px;
    width: calc(100% - 20px);
    margin-left:10px;
}