a.color_Azul{

    color: blue;
    font: bold;
}

a.color_Rojo{

    color: red;
    font: bold;

}

a.color_Verde{

    color: green;
    font: bold;

}

div.masdatos {

    background-color:red;

}