body {
    background-color: #F6CEF5;
}

div.Titulov2 {

    color: red;
    text-decoration: underline;
}

div.mdescuento {

    color: red;

}

div.mtotal {

    font-weight: bold;
    font-weight: 20;
    
}